

  <%- include('../partials/head') %>
  <div class="container">
    <h1>Employee Directory</h1>

    <% if (foundEmployees.length > 0) { %>
      <div class="employee-list">
        <% foundEmployees.forEach((employee) => { %>
          <div class="employee-card">
            <img src="<%= employee.image.url %>" class="employee-img" alt="Image of <%= employee.name %>">
            <h3><%= employee.name %></h3>
            <p><strong>Position:</strong> <%= employee.position %></p>
            <p><strong>Salary:</strong> BHD <%= employee.salary %></p>
            <a href="/employees/<%= employee._id %>" class="btn btn-secondary">Manage</a>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>No employees found.</p>
    <% } %>

    <p class="login-link">
      <a href="/employees/new">Add New Employee</a>
    </p>
  </div>
</body>
</html>
