<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>List of all payrolls for </h2>

  <ul>
  <% foundPayrolls.forEach( (payroll) => { %>
    <li>Employee Name: <%= payroll.employee.name %></li>
    <li>Position: <%= payroll.employee.position %></li>
    <li>Pay Date: <%= payroll.pay_date %></li>
    <li>Hours Worked: <%= payroll.hourse_worked %></li>
    <li>Bonus: <%= payroll.bonus %></li>
    <form action="/payrolls/<%= payroll.employee._id %>/<%= payroll._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    <a href="/payrolls/<%= payroll.employee._id %>/<%= payroll._id %>/edit">Edit</a>
    <br>
  <% }) %>
  </ul>

  
</body>
</html>